# Compiled class file
*.class

# Logs
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# Crash logs
hs_err_pid*
replay_pid*